<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Toilter{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link  href="{{ url_for('static',
    filename='css/bootstrap.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            {% if current_user.is_authenticated %}
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
              <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
          </ul>
        </nav>
        <h3 class="text-muted">Toilter</h3>
      </div>


        {% with message = get_flashed_messages() %}
          {% if messages %}
          <div class="alert alert-warning">
          <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>


      {% block content %}
      {% endblock %}

    </div> <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{url_for('static',
    filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>
