{% extends 'base.html' %}

{% block title %} {{super()}} - index {% endblock %}

{% block topview%}
<h1>Bem-vindo ao Toilter!</h1>
<p class="lead">Comente sobre o seu dia, um programa de televisão ou qualquer coisa que você queira!</p>
{% if current_user.is_authenticated %}
{% else %}
<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
{% endif %}
{% endblock %}

{% block content %}

  <div class="container">
    <div class="card">
      <div class="card-header">
        {NOME}
      </div>
      <div class="card-body">
        <h5 class="card-title">{TEXTO}</h5>
        <p class="card-text">13/09/2020</p>
      </div>
    </div>
  </div>

{% endblock %}