{% extends 'base.html' %}

{% block title %} {{super()}} - index {% endblock %}

{% block topview%}
                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                  <div class="card-header">
                      <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Make
                                  a publication</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images">Images</a>
                          </li>
                      </ul>
                  </div>
                  <div class="card-body">
                      <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                              <div class="form-group">
                                  <label class="sr-only" for="message">post</label>
                                  <textarea class="form-control" id="message" rows="3" placeholder="What are you thinking?"></textarea>
                              </div>

                          </div>
                          <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                              <div class="form-group">
                                  <div class="custom-file">
                                      <input type="file" class="custom-file-input" id="customFile">
                                      <label class="custom-file-label" for="customFile">Upload image</label>
                                  </div>
                              </div>
                              <div class="py-4"></div>
                          </div>
                      </div>
                      <div class="btn-toolbar justify-content-between">
                          <div class="btn-group">
                              <button type="submit" class="btn btn-primary">share</button>
                          </div>
                          <div class="btn-group">
                              <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">
                                  <i class="fa fa-globe"></i>
                              </button>
                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                  <a class="dropdown-item" href="#"><i class="fa fa-globe"></i> Public</a>
                                  <a class="dropdown-item" href="#"><i class="fa fa-users"></i> Friends</a>
                                  <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Just me</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Post /////-->
{% endblock %}

{% block content %}
    {% for post in pots%}
        
 <!--- \\\\\\\Post-->
 <div class="card gedf-card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                    <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                </div>
                <div class="ml-2">
                    <div class="h5 m-0">@{{ user.nick }}</div>
                    <div class="h7 text-muted"><a href="/profile/{{ post.user_id }}">{{ user.user }}</a></div>
                </div>
            </div>
            <div>
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                        <div class="h6 dropdown-header">Configuration</div>
                        <a class="dropdown-item" href="#">Save</a>
                        <a class="dropdown-item" href="#">Hide</a>
                        <a class="dropdown-item" href="#">Report</a>
                    </div>
                </div>
            </div>
        </div>
  
    </div>
    <div class="card-body">
        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{ post.date }}</div>
        <a class="card-link" href="#">
            <h5 class="card-title">{{ post.title }}</h5>
        </a>
  
        <p class="card-text">
          {{ post.content }}
        </p>
    </div>
    <div class="card-footer">
        <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
        <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
        <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>
    </div>
  </div>
  <!-- Post /////-->
    {% endfor %}
{% endblock %}