{% extends 'base.html' %}
{% block title %} {{super()}} - register {% endblock %}
{% block content %}
<div class="col-md-4 col-md-offset-4">
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            <label>Username</label>
            {{ form.username(class="form-control", placeholder="Usuário") }}
        </div>
        <div class="form-group">
            <label>Senha</label>
            {{ form.password(class="form-control", placeholder="Senha") }}
        </div>
        <div class="form-group">
            <label>Nome</label>
            {{ form.name(class="form-control", placeholder="Nome") }}
        </div>
        <div class="form-group">
            <label>E-mail</label>
            {{ form.email(class="form-control", placeholder="E-mail") }}
        </div>
        <button type="submit" class="btn btn-info">Cadastrar</button>
    </form>
    
</div>

{% endblock %}